
flask>=1.1,<1.2
click>=7.0,<7.1
psycopg2-binary>=2.8,<2.9
alembic>=1.3,<1.4
prometheus_client>=0.8,<0.9
gunicorn>=20.0,<20.1
geojson>=2.5,<3
sphinx
sphinxcontrib-httpdomain
pytest>=6.1,<7
pytest-mock>=3.6,<4
shapely
pyproj
pyshp
logging_tree
prometheus-flask-exporter>=0.18,<0.19
