version: "3"

services:
  namenode:
    image: crs4/namenode:3.2.0
    ports:
      - "8020:8020"
      - "9870:9870"
      - "9871:9871"
    networks:
      - tdmq

  datanode:
    image: crs4/datanode:3.2.0
    ports:
      - "9864:9864"
      - "9865:9865"
      - "9866:9866"
      - "9867:9867"
    environment:
      - NAMENODE_HOSTNAME=namenode
    networks:
      - tdmq

networks:
  tdmq:
    name: "tdmq"
    external: true
