#boto3==1.16
#ckanapi==4.3
#colormap==1.0
#Cython==0.29
#easydev==0.9.38
#folium==0.10
#jupyter==1.0
#matplotlib==3.1
#psycopg2-binary==2.8
#pyproj==2.4.2.post1
#tifffile==2019.7.26
#wget==3.2
#xarray==0.14

pyshp
six

# updated packages
cartopy==0.18
ckanapi==4.3
colormap==1.0
easydev==0.10
folium==0.11
jupyter==1.0
matplotlib==3.3
psycopg2-binary==2.8
pyproj
tifffile
wget==3.2
xarray==0.16
