
# Requirements for jupyter container beyond what's
# already required by the tdmq conda client image.
colormap
easydev
pyshp
cartopy
folium
matplotlib
ipyleaflet
altair
vega_datasets
geojson>=2.5,<3
