name: Publish docs

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  workflow_run:
    workflows: ["CI Pipeline"]
    branches: ["master"]
    types:
      - completed
  push:  # FIXME: temporary
    branches:
      - master
      - develop

env:
  TERM: xterm
jobs:
  pdoc:
    name: Generate and publish html documentation
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2
      - name: check the value of github.workspace and runner.temp
        run: |
          echo "github.workspace = ${{ github.workspace }}"
          echo "GITHUB_WORKSPACE = ${GITHUB_WORKSPACE}"
          echo "runner.temp = ${{ runner.temp }}"
      - name: Docker Layer Caching
        uses: satackey/action-docker-layer-caching@v0.0.11
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true
      - name: Build tdmqc Docker image
        run: |
          make -j 2 tdmqc
      - name: Create html
        run: |
          rm -rf ./tdmq-docs
          mkdir -p ./tdmq-docs
          docker run --rm --user $(id -u) \
            -v $PWD/tdmq-docs:/tdmq-docs \
            tdmproject/tdmqc \
            pdoc3 --html --output-dir /tdmq-docs tdmq
      - name: Setup assets
        run: |
          mkdir -p ./public
          mv ./tdmq-docs/tdmq ./public/tdmq-docs
      - name: Publish docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          # https://github.com/marketplace/actions/github-pages-action
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          keep_files: true # keep existing files in gh-pages branch
          enable_jekyll: true # Make sure this is enabled or the action will be default turn off Jekyll
